  .router-link-exact-active {
      background-color: rgba(200, 200, 200, 0.3);
  }

  .backing-text-markdown {
    h2, h3, h4 {
      font-size: 1.3em;
      font-weight: bold;
      margin-top: 1em;
    }
  }